In [14]:
#Import the relevant packages that we need
import pandas as pd
import numpy as np

In [15]:
reviews = pd.read_csv("reviews.csv")

In [16]:
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,2818,1191,2009-03-30,10952,Lam,Daniel is really cool. The place was nice and ...
1,2818,1771,2009-04-24,12798,Alice,Daniel is the most amazing host! His place is ...
2,2818,1989,2009-05-03,11869,Natalja,We had such a great time in Amsterdam. Daniel ...
3,2818,2797,2009-05-18,14064,Enrique,Very professional operation. Room is very clea...
4,2818,3151,2009-05-25,17977,Sherwin,Daniel is highly recommended. He provided all...

In [17]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272056 entries, 0 to 272055
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     272056 non-null  int64
 1   id             272056 non-null  int64
 2   date           272056 non-null  object
 3   reviewer_id    272056 non-null  int64
 4   reviewer_name  272056 non-null  object
 5   comments       271811 non-null  object
dtypes: int64(3), object(3)
memory usage: 12.5+ MB

In [18]:
listings = pd.read_csv("listings.csv")

In [19]:
combined = reviews.merge(right = listings, how = 'inner', left_on="listing_id", right_on = "id")

In [20]:

to_remove = ',$'

for char in to_remove:
    combined['price'] = combined.price.str.replace(char,"")
    

combined.price.astype('float')

<ipython-input-20-132d87539c74>:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  combined['price'] = combined.price.str.replace(char,"")

0          60.0
1          60.0
2          60.0
3          60.0
4          60.0
          ...
272051     70.0
272052     70.0
272053    232.0
272054     66.0
272055     66.0
Name: price, Length: 272056, dtype: float64

In [21]:
combined.head()

,listing_id,id_x,date,reviewer_id,reviewer_name,comments,id_y,listing_url,scrape_id,last_scraped,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2818,1191,2009-03-30,10952,Lam,Daniel is really cool. The place was nice and ...,2818,https://www.airbnb.com/rooms/2818,20211205213126,2021-12-06,...,4.98,4.68,4.82,0363 5F3A 5684 6750 D14D,t,1,0,1,0,2.83
1,2818,1771,2009-04-24,12798,Alice,Daniel is the most amazing host! His place is ...,2818,https://www.airbnb.com/rooms/2818,20211205213126,2021-12-06,...,4.98,4.68,4.82,0363 5F3A 5684 6750 D14D,t,1,0,1,0,2.83
2,2818,1989,2009-05-03,11869,Natalja,We had such a great time in Amsterdam. Daniel ...,2818,https://www.airbnb.com/rooms/2818,20211205213126,2021-12-06,...,4.98,4.68,4.82,0363 5F3A 5684 6750 D14D,t,1,0,1,0,2.83
3,2818,2797,2009-05-18,14064,Enrique,Very professional operation. Room is very clea...,2818,https://www.airbnb.com/rooms/2818,20211205213126,2021-12-06,...,4.98,4.68,4.82,0363 5F3A 5684 6750 D14D,t,1,0,1,0,2.83
4,2818,3151,2009-05-25,17977,Sherwin,Daniel is highly recommended. He provided all...,2818,https://www.airbnb.com/rooms/2818,20211205213126,2021-12-06,...,4.98,4.68,4.82,0363 5F3A 5684 6750 D14D,t,1,0,1,0,2.83

In [ ]:
a